<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <div class="page-shell">
        <div id="wrapper" class="content-card">
            <%- include('../partials/header') %>
            <%- include('../partials/navigation') %>

            <main>
                <%- body %>
            </main>

                <%- include('../partials/footer') %>
        </div>
    </div>
</body>

</html>